/*
Theme Name: Tomie Ohtake Theme
Version: 1.0
Template: tema-coletivo
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-menu, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, e-commerce, blog, portfolio

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Tema Coletivo is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

button, label {
    font-family: "Open Sans Condensed", sans-serif;
}

.entry-header .entry-title {
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-header {
    margin-bottom: 30px;
}

hr {
    margin-bottom: 15px;
}

.section-news .entry-title, .archive .entry-title, .blog .entry-title {
    font-size: 26px;
}

.site-header {
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
    line-height: 50px;
}

.site-branding .site-logo-div {
    line-height: 50px;
}

.custom-logo-link img {
    max-width: 85%;
}

.site-header.header-fixed {
    box-shadow: none;
}

.coletivo-menu {
    float: none;
}

.coletivo-menu a {
    color: #777;
    font-family: 'Open Sans Condensed', sans-serif;
     font-size: 17px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0px;
}

#inscreva-se, #logout-botao {
    color: #FFF;
    padding-right: 17px;
    margin-top: 12px;
    margin-left: 2em;
    text-transform: uppercase;
}

.btn, .btn-lg {
    font-family: 'Open Sans Condensed', sans-serif;
}

.hero-content-style1 p {
    font-style: normal;
    letter-spacing: 0;
}

#primary {
    padding-bottom: 20px;
    padding-top: 20px;
}

.no-sidebar h2.fullheader-title {
    font-size: 30px;
    letter-spacing: 0px;
    font-weight: 300;
    text-transform: none;
    text-align: left;
    padding-left: 6%;
    padding-top: 20px;
}

.no-sidebar .content-area {
    padding: 0 6%;
    border-top: 1px solid #eee;
}

.footer-logos {
    background-color: #FFF;
}
.footer-logos .row.logos {
	padding: 20px 0px;
	text-align: center;
}

.footer-logos h3 {
    font-size: 1.25em;
}

.logo-brasa {
    background: url(images/brasa.png) center center no-repeat;
    width: 38px;
    height: 38px;
    text-indent: 999999px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -13px;
}

.logo-wp {
    font-size: 2em;
    top: 5px;
    position: relative;
    color: #777 !important;
}

.site-footer .site-info {
    background: #FFF;
    font-weight: 300;
    color: #777;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    padding: 0px 0px 20px;
}

.site-info .container {
    line-height: 2em;
}

.homeprov-logo {
	margin: 0 auto;
	text-align: center;
}

.homeprov-logo img {
	width: auto;
}

.homeprov .no-sidebar .content-area {

	border-top: none;
}

.page-template-page-preliminar h1.fullheader-title, .page-template-page-cadastrados h1.fullheader-title, .page-template-page-inscritos h1.fullheader-title, .page-template-page-finalistas h1.fullheader-title {
    text-align: center;
}

.page-template-page-preliminar h2.fullheader-title, .page-template-page-cadastrados h2.fullheader-title, .page-template-page-inscritos h2.fullheader-title, .page-template-page-finalistas h2.fullheader-title {
    padding-left: 0;
}

input[type="reset"], input[type="submit"], input[type="submit"] {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 17px;
}

.acf-field p.description {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;
}

.acf-field .acf-label label {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;
}

#login-user #register-user-link {
	display: none;
}

#login-user a.lost {
    display: block;
    clear: both;
    text-align: right;
    margin-top: 10px;
}

#login-user label {
    font-size: 16px;
    font-size: 1.175rem;
    clear: both;
    display: block;
    margin-top: 10px;
}

#login-user input#username, #login-user input#password {
    width: 100%;
}

.container-form {
    padding-right: 4.9375rem !important;
    padding-left: 4.9375rem !important;
}

.page-template-page-inscricoes .page-header .container {
    padding-right: 4.9375rem !important;
    padding-left: 4.9375rem !important;
}

.bza_inscricoes-template-default .page-header .container {
    padding-right: 4.9375rem !important;
    padding-left: 4.9375rem !important;
}

#honeypot {
    display:none;
}

#user-navigation {
    clear: both;
    display: initial;
    background: #eee;
    font-family: "Open Sans Condensed", sans-serif;
}

#user-navigation .user-menu {
    line-height: 30px;
    float: right;
    background: #CCC;
    padding: 0 30px;
    margin-bottom: -30px;
    min-width: 33%;
    border-radius: 0 0 6px 6px;
    margin-right: 4em;
}

#user-menu-inscricao a, #user-menu-cadastro a, #user-menu-inscritos a, #user-menu-finalistas a {
    color: #FFF;
    background: #eb008b;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2px 13px;
    font-size: 1em;
    line-height: 20px;
    margin-right: 10px;
    margin-top: 3px;
}

#user-menu-inscricao a {
    margin-left: 10px;
}

#message {
    background: #45c93e;
    color: #FFF;
    padding: 0 5px;
    font-family: "Open Sans Condensed", sans-serif;
    margin-bottom: 0;
    font-size: 1.2em;
}
}

@media screen and (max-width: 545px) {

	.section-contact h2.section-title {
	font-size: 1.6em;
	}

	.feature-item {
    margin-bottom: 20px;
	}

	.site-footer span.sep {
    text-indent: -9999999px;
    display: table-column;
	}

    .container-form {
    padding-right: .9375rem !important;
    padding-left: .9375rem !important;
    }

    .page-template-page-inscricoes .page-header .container {
        padding-right: .9375rem !important;
        padding-left: .9375rem !important;
    }

    .bza_inscricoes-template-default .page-header .container {
        padding-right: .9375rem !important;
        padding-left: .9375rem !important;
    }


}
