form#login-user, form#cadastro-user{
    display: none;
    background-color: #FFFFFF;
    position: fixed;
    top: 200px;
    padding: 40px 25px 25px 25px;
    width: 350px;
    z-index: 999;
    left: 50%;
    margin-left: -200px;
}

form#login-user p.status, form#cadastro-user p.status{
    display: none;
}
form#login-user a.close{
  position: absolute;
  top: 15px;
  right: 15px;

}
.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}
.link-voltar{
  cursor: pointer;
    background: #03c4eb;
    border: none;
    display: inline-block;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    padding: 15px 23px 15px 23px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    margin: 3px 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
}
.logged-in .acf-field-59fc6a2a127ad {
  display:none;
}


/*Listagem de usuarios*/
.candidatos{
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.candidato input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.candidato label {
  position: relative;
  float: right;
  color: #C8C8C8;
}

.candidato  label:before {
  margin: 0;
  margin-top: -5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 20px;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

}
.candidato{
  border: solid 1px black;
  padding: 5px 10px;
  margin: 10px 0;

}
.candidato  input:checked ~ label:before {
  color: #FFC107;
}

.candidato  label:hover ~ label:before {
  color: #ffdb70;
}

.candidato  label:hover:before {
  color: #FFC107;
}


/*modal ajax-use*/
#modal-cadastro, #modal-inscricao, .page-template-page-finalistas-php #user-loading{
  display: none;
  -ms-transform: translate(-50%); /* IE 9 */
    -webkit-transform: translate(-50%); /* Safari */
    transform: translate(-50%);
    position: absolute;
    z-index: 9999;
    left: 50%;
    top:10%;

}
.page-template-page-finalistas-php #user-loading{
  position: fixed;
  top:40%;
}
#modal-loading,#user-loading{
  background-image:url('../../images/loader.gif');
  height:149px;
  width:218px;
  display: none;
  margin: 0 auto;

}
.desativado {
    pointer-events: none;
    opacity: 0.4;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

}
.rg-user{
  max-width:300px;
}
#inscricao{
  margin-top:20px;
}
#busca-nome{
  float:left;
}
#label-busca-nome{
  background-color: transparent;
  float:left;
  width: 50px;
  height:50px;
  background-size: contain;
  background-image:url('../../images/img-search.png');
}
.page-template-page-finalistas-php #form-rg{
  display: none;
}
.page-template-page-finalistas-php .user_ajax{
  pointer-events: none;
}
